{
  "extends": "stripe",
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline",
      {
        "functions": "never"
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "globals": {
    "describe": false,
    "before": false,
    "after": false,
    "afterEach": false,
    "it": false,
    "app": true,
    "chance": true
  }
}
